name: MacOS

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  raku:
    strategy:
      matrix:
        os:
          - macos-latest
        raku-version:
          - 'latest'

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: Raku/setup-raku@v1
        with:
          raku-version: ${{ matrix.raku-version }}

      - name: raku -v
        run: |
          raku -v

      - name: raku -V
        run: |
          raku -V

      - name: Install Dependencies
        run: |
          zef install --/test --depends --build-depends --test-depends .

      - name: Run Tests
        run: |
          zef test --debug .

